CELERY_BROKER_URL="redis://***"
CELERY_BACKEND_URL="redis://***"

# Connection recycling option, set to true for small Redis servers
# REDIS_CONNECTION_RECYCLING=false
# Heartbeat interval in seconds (increase for free small Redis servers to save bandwidth)
# REDIS_HEARTBEAT_INTERVAL=10
