amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
async-timeout==4.0.3
backports.tarfile==1.2.0
backports.zoneinfo==0.2.1
billiard==4.2.0
black==24.4.2
blinker==1.7.0
build==1.2.1
celery==5.3.6
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dnspython==2.6.1
docutils==0.20.1
email_validator==2.2.0
exceptiongroup==1.2.1
fastapi==0.115.0
fastapi-cli==0.0.5
Flask==3.0.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.6
importlib_metadata==7.1.0
importlib_resources==6.4.0
iniconfig==2.0.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.3
keyring==25.2.1
kombu==5.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.3.0
mypy-extensions==1.0.0
nh3==0.2.17
ollama==0.1.8
-e git+ssh://git@github.com/mnemonica-ai/oshepherd.git@1567b3383d07211a7b8e274cafb6d54d791832c8#egg=oshepherd
packaging==24.1
pathspec==0.12.1
pkginfo==1.11.1
platformdirs==4.2.2
pluggy==1.5.0
prompt-toolkit==3.0.43
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.18.0
pyproject_hooks==1.1.0
pytest==8.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
PyYAML==6.0.2
readme_renderer==43.0
redis==5.0.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
starlette==0.38.6
tomli==2.0.1
twine==5.1.0
typer==0.12.5
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.31.0
uvloop==0.20.0
vine==5.1.0
watchfiles==0.24.0
wcwidth==0.2.13
websockets==13.1
Werkzeug==3.0.2
zipp==3.19.2
