amqp==5.3.1
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
billiard==4.2.4
black==26.5.1
build==1.5.0
celery==5.6.3
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
detect-installer==0.1.0
dnspython==2.8.0
docutils==0.23
email-validator==2.3.0
fastapi==0.141.1
fastapi-cli==0.0.32
fastapi-cloud-cli==0.23.0
fastar==0.12.0
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
id==1.6.1
idna==3.19
iniconfig==2.3.0
jaraco-classes==3.4.0
jaraco-context==6.1.2
jaraco-functools==4.6.0
jinja2==3.1.6
keyring==25.7.0
kombu==5.6.2
markdown-it-py==4.2.0
markupsafe==3.0.3
mdurl==0.1.2
more-itertools==11.1.0
mypy-extensions==1.1.0
nh3==0.3.6
ollama==0.6.3
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.3
pluggy==1.6.0
prompt-toolkit==3.0.53
pydantic==2.13.4
pydantic-core==2.46.4
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pygments==2.21.0
pyproject-hooks==1.2.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-multipart==0.0.32
pytokens==0.4.1
pyyaml==6.0.3
readme-renderer==45.0
redis==8.1.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
rich-toolkit==0.20.3
rignore==0.8.1
sentry-sdk==2.68.0
shellingham==1.5.4
six==1.17.0
starlette==1.6.0
twine==7.0.0
typer==0.27.1
typing-extensions==4.16.0
typing-inspection==0.4.4
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
uvicorn==0.52.4
uvloop==0.22.1
vine==5.1.0
watchfiles==1.2.0
wcwidth==0.8.2
websockets==17.0.1
